<html>
<center>
<header>
	<h1>ok! your order has been placed! you will have...</h1>
</header>
<link rel="stylesheet" href="../css/style.css"
<body>
<form method= "post" action = "/final">

<p><%confirmed.each do |value, key|%>
<% if key == value %>
<%=value%><img src="./img/<%=value%>.jpg" width="35px" height="35px">
<%end%></p>
<%end%>

and you wasted... <%=total%> ...bucks!

 it will come to you.... one day....</p>

	
	
</form>



</center>
</body>
</html>