<h3><p>hello! and welcome to my my pizzaria! please go through the process to get a pizza!</p></h3>
<link rel="stylesheet" href="css/style.css">
<form method = "post" action="/components">
<p> SIZE </p>
	<input type="radio" name="size[]" value="small">Small<br>
	<input type="radio" name="size[]" value="medium">Medium<br>
	<input type="radio" name="size[]" value="large">Large<br>
	<input type="radio" name="size[]" value="ex_large">Extra Large<br>
<p> SAUCE </p>
	<input type="radio" name="sauce[]" value="tomatoe_paste">Standard Sauce<br>
	<input type="radio" name="sauce[]" value="alfrado">Alfrado<br>
	<input type="radio" name="sauce[]" value="hummus">Hummus<br>
	<input type="radio" name="sauce[]" value="pesto">Pesto<br>

<p> CRUST </p>
	<p><input type="radio" name="crust[]" value="thin_crust">Thin Crust<br>
		<label for ="thin_crust"><img src="../img/thin_crust.jpg" height="35px" width="35px"><br> 
	<input type="radio" name="crust[]" value="flatbread_crust">Flatbread Crust<br>
		<label for ="flatbread_crust"><img src="../img/flatbread_crust.jpg" height="35px" width="35px"><br> 
	<input type="radio" name="crust[]" value="thicc_crust">Thick Crust<br>
		<label for ="thicc_crust"><img src="../img/thick_crust.jpg" height="35px" width="35px"><br> 
	<input type="radio" name="crust[]" value="focaccia">Focaccia<br>
		<label for ="focaccia"><img src="../img/focaccia.jpg" height="35px" width="35px"><br> 
	<input type="radio" name="crust[]" value="pan">Pan<br>
		<label for ="pan"><img src="../img/pan.jpg" height="35px" width="35px"><br> 
	<input type="radio" name="crust[]" value="deep_dish">Deep Dish<br>
		<label for ="deep_dish"><img src="../img/deep_dish.jpg" height="35px" width="35px"><br> 
	<input type="radio" name="crust[]" value="new_york_style">New York Style<br>
		<label for ="new_york_style"><img src="../img/new_york_style.jpg" height="35px" width="35px"><br> 
	<input type="radio" name="crust[]" value="st_louis">St Louis<br>
		<label for ="st_louis"><img src="../img/st_louis.jpg" height="35px" width="35px"><br></p>
<p> CHEESE </p>
	<p><input type="radio" name="cheese[]" value="chedder">Chedder<br>
		<label for ="chedder"><img src="../img/chedder.jpg" height="35px" width="35px"><br> 
	<input type="radio" name="cheese[]" value="swiss">Swiss<br>
		<label for ="swiss"><img src="../img/swiss.jpg" height="35px" width="35px"><br> 
	<input type="radio" name="cheese[]" value="mozerella">Mozerella<br>
		<label for ="mozerella"><img src="../img/mozerella.jpg" height="35px" width="35px"><br> 
	<input type="radio" name="cheese[]" value="munster">Munster<br>
		<label for ="munster"><img src="../img/munster.jpg" height="35px" width="35px"><br> 
	<input type="radio" name="cheese[]" value="roquefort">Roquefort<br>
		<label for ="roquefort"><img src="../img/roquefort.jpg" height="35px" width="35px"><br> 
	<input type="radio" name="cheese[]" value="feta">Feta<br>
		<label for ="feta"><img src="../img/feta.jpg" height="35px" width="35px"><br> 
	<input type="radio" name="cheese[]" value="gouda">Gouda<br>
		<label for ="gouda"><img src="../img/gouda.jpg" height="35px" width="35px"><br> 
	<input type="radio" name="cheese[]" value="taleggio">Taleggio<br>
		<label for ="taleggio"><img src="../img/taleggio.jpg" height="35px" width="35px"><br> 
	<input type="radio" name="cheese[]" value="manchego">Manchego<br>
		<label for ="manchego"><img src="../img/manchego.jpg" height="35px" width="35px"><br> 
	<input type="radio" name="cheese[]" value="monterey_jack">Monterey_Jack<br>
		<label for ="thin_crust"><img src="../img/monterey_jack.jpg" height="35px" width="35px"><br></p>
<p> MEATS </p>
	<p><input type="checkbox" name="meats[]" value="sausage">Sausage<br>
		<label for ="thin_crust"><img src="../img/sausage.jpg" height="35px" width="35px"><br> 
	<input type="checkbox" name="meats[]" value="ham">Ham<br>
		<label for ="thin_crust"><img src="../img/ham.jpg" height="35px" width="35px"><br> 
	<input type="checkbox" name="meats[]" value="pepperoni">Pepperoni<br>
		<label for ="thin_crust"><img src="../img/pepperoni.jpg" height="35px" width="35px"><br> 
	<input type="checkbox" name="meats[]" value="chicken">Chicken<br>
		<label for ="thin_crust"><img src="../img/chicken.jpg" height="35px" width="35px"><br> 
	<input type="checkbox" name="meats[]" value="bacon">Bacon<br>
		<label for ="thin_crust"><img src="../img/bacon.jpg" height="35px" width="35px"><br> 
	<input type="checkbox" name="meats[]" value="pork">Pork<br>
		<label for ="thin_crust"><img src="../img/pork.jpg" height="35px" width="35px"><br> 
	<input type="checkbox" name="meats[]" value="salami">Salami<br>
		<label for ="thin_crust"><img src="../img/salami.jpg" height="35px" width="35px"><br> 
	<input type="checkbox" name="meats[]" value="beef">Beef<br>
		<label for ="thin_crust"><img src="../img/beef.jpg" height="35px" width="35px"><br> 
	<input type="checkbox" name="meats[]" value="cannadian_bacon">Cannadian Bacon<br>
		<label for ="thin_crust"><img src="../img/cannadian_bacon.jpg" height="35px" width="35px"><br> 
	<input type="checkbox" name="meats[]" value="Meat_Lovers">All<br><p>
<p> VEGGIES </p>
	<p><input type="checkbox" name="veggies[]" value="jalapeno">Jalapeno<br>
		<label for ="thin_crust"><img src="../img/jalapeno.jpg" height="35px" width="35px"><br> 
	<input type="checkbox" name="veggies[]" value="spinach">Spinach<br>
		<label for ="thin_crust"><img src="../img/spinach.jpg" height="35px" width="35px"><br> 
	<input type="checkbox" name="veggies[]" value="mushrooms">Mushrooms<br>
		<label for ="thin_crust"><img src="../img/mushrooms.jpg" height="35px" width="35px"><br> 
	<input type="checkbox" name="veggies[]" value="tomatoes">Tomatoes<br>
		<label for ="thin_crust"><img src="../img/tomatoes.jpg" height="35px" width="35px"><br> 
	<input type="checkbox" name="veggies[]" value="corn">Corn<br>
		<label for ="thin_crust"><img src="../img/corn.jpg" height="35px" width="35px"><br> 
	<input type="checkbox" name="veggies[]" value="pickles">Pickles<br>
		<label for ="thin_crust"><img src="../img/pickles.jpg." height="35px" width="35px"><br> 
	<input type="checkbox" name="veggies[]" value="lettuce">Lettuce<br>
		<label for ="thin_crust"><img src="../img/lettuce.jpg" height="35px" width="35px"><br> 
	<input type="checkbox" name="veggies[]" value="pea">Pea<br>
		<label for ="thin_crust"><img src="../img/pea.jpg" height="35px" width="35px"><br> 
	<input type="checkbox" name="veggies[]" value="pepper">Pepper<br>
		<label for ="thin_crust"><img src="../img/pepper.jpg" height="35px" width="35px"><br> 
	<input type="checkbox" name="veggies[]" value="eggplant">Eggplant<br>
		<label for ="thin_crust"><img src="../img/eggplant.jpg" height="35px" width="35px"><br> 
	<input type="checkbox" name="veggies[]" value="avacado">Avacado<br>
		<label for ="thin_crust"><img src="../img/avacado.jpg" height="35px" width="35px"><br> 
	<input type="checkbox" name="veggies[]" value="broccoli">Broccoli<br>
		<label for ="thin_crust"><img src="../img/broccoli.jpg" height="35px" width="35px"><br></p>
<p> DELIVERY CHUMMER? </p>
	If yes, what is your address? <input type="text" name="address[]" value=""><br>
	<input type="submit">
</form>