<h3><p>hello! and welcome to my my pizzaria! please go through the process to get a pizza!</p></h3>

<form method = "post" action="/components">
<p> CRUST </p>
	<input type="checkbox" name="crust[]" value="thin_crust">Thin Crust<br>
	<input type="checkbox" name="crust[]" value="flatbread_crust">Flatbread Crust<br>
	<input type="checkbox" name="crust[]" value="thicc_crust">Thick Crust<br>
	<input type="checkbox" name="crust[]" value="focaccia">Focaccia<br>
	<input type="checkbox" name="crust[]" value="pan">Pan<br>
	<input type="checkbox" name="crust[]" value="deep_dish">Deep Dish<br>
	<input type="checkbox" name="crust[]" value="new_york_style">New York Style<br>
	<input type="checkbox" name="crust[]" value="St_Louis">St.Louis<br>
<p> CHEESE </p>
	<input type="checkbox" name="cheese[]" value="chedder">Chedder<br>
	<input type="checkbox" name="cheese[]" value="swiss">Swiss<br>
	<input type="checkbox" name="cheese[]" value="mozerella">Mozerella<br>
	<input type="checkbox" name="cheese[]" value="munster">Munster<br>
	<input type="checkbox" name="cheese[]" value="roquefort">Roquefort<br>
	<input type="checkbox" name="cheese[]" value="feta">Feta<br>
	<input type="checkbox" name="cheese[]" value="gouda">Gouda<br>
	<input type="checkbox" name="cheese[]" value="taleggio">Taleggio<br>
	<input type="checkbox" name="cheese[]" value="manchego">Manchego<br>
	<input type="checkbox" name="cheese[]" value="monterey_jack">Monterey_Jack<br>
<p> MEATS </p>
	<input type="checkbox" name="meats[]" value="sausage">Sausage<br>
	<input type="checkbox" name="meats[]" value="ham">Ham<br>
	<input type="checkbox" name="meats[]" value="pepperoni">Pepperoni<br>
	<input type="checkbox" name="meats[]" value="chicken">Chicken<br>
	<input type="checkbox" name="meats[]" value="bacon">Bacon<br>
	<input type="checkbox" name="meats[]" value="pork">Pork<br>
	<input type="checkbox" name="meats[]" value="salami">Salami<br>
	<input type="checkbox" name="meats[]" value="beef">Beef<br>
	<input type="checkbox" name="meats[]" value="cannadian_bacon">Cannadian Bacon<br>
	<input type="checkbox" name="meats[]" value="Meat_Lovers">All<br>
<p> VEGGIES </p>
</form>